{% extends 'layout.twig' %}

{% import 'includes/faker.twig' as faker %}
{% form_theme form 'bootstrap_3_layout.html.twig' %}
{% set paramsBasic = { background: "6d3353", size: "300x150", extension: "png" } %}

{% block content %}

<header>
    <div class="container">
        <h1 class="header-title">Welcome to Image Faker</h1>
        <p class="lead">A service that creates images <span class="motto-second">using simple urls</span></p>
    </div>
</header>

<form action="{{ path('homepage') }}" method="post" class="form" autocomplete="off">
    <div class="container">
    <fieldset>
        <legend class="sr-only">Create an image</legend>

        {{ form_widget(form._token) }}
        {% for message in app.session.getFlashBag.get('message') %}
        <div class="alert alert-danger">
            <strong>Ooops!</strong>
            {{ message }}
        </div>
        {% endfor %}

        <div class="row">
            <div class="col-md-2 col-sm-2 col-xs-6">{{
                form_row(form.background, {
                    'attr': {
                        'placeholder': config.backgroundColor,
                        'maxlength': 7,
                        'class': 'input-lg faker-background'
                    },
                    'required': false
                })
            }}
            </div>
            <div class="col-md-2 col-sm-2 col-xs-6">{{
                form_row(form.color, {
                    'attr': {
                        'placeholder': config.fontColor,
                        'maxlength': 7,
                        'class': 'input-lg faker-font'
                    },
                    'label': 'Font color',
                    'required': false
                })
            }}</div>
            <div class="col-md-3 col-sm-3 col-xs-6">{{
                form_row(form.size, { 'attr': {'placeholder': '300x150', 'class': 'input-lg faker-size' }})
                }}</div>
            <div class="col-md-2 col-sm-2 col-xs-6">{{
                form_row(form.extension, { 'attr': { 'class': 'input-lg faker-extension' }})
                }}</div>
            <div class="col-md-3 col-sm-3 col-xs-12">
                <button type="submit" class="btn btn-primary btn-block btn-lg faker-btn-submit">create</button>
            </div>
        </div>
    </fieldset>
    </div>
</form>

<section>
    <div class="container">
    <header class=""><h2>Example</h2></header>

    <p class="text-center text-muted rmh-url">{{ url("background", paramsBasic) }}</p>

    <div class="">
        <a href="{{ url("background", paramsBasic) }}">
            <img class="img-responsive center-block thumbnail" src="{{ url("background", paramsBasic) }}">
        </a>
    </div>
    </div>
</section>

<section>
    <div class="container">
    <h2>FAQ</h2>
    <div class="col-md-8 col-md-offset-2 col-sm-8 col-sm-offset-2">
    <div class="panel panel-default rmh-panel">
        <header class="panel-heading">Custom values</header>

        <div class="list-group">
            <a class="list-group-item" href="{{
                url("simple", {
                    'extension': 'png',
                    'size': config.size.maxWidth ~ "x" ~ config.size.maxHeight
                })
            }}">Max size
                <span class="pull-right rmh-size">{{ config.size.maxWidth ~ "x" ~ config.size.maxHeight }}</span>
            </a>
            <a class="list-group-item" href="{{
                url("simple", {
                    'extension': 'png',
                    'size': "300x150"
                })
            }}">Default background
                <span class="pull-right rmh-size">{{ config.backgroundColor }}</span>
            </a>
        </div>
        <div class="panel-heading">Custom sizes</div>
        <div class="list-group">
            {% for name, size in sizes %}
            <a class="list-group-item" href="{{ url("simple", {
                    'extension': 'png',
                    'size': name
                }) }}">{{ name }}
                <span class="pull-right rmh-size">{{ size }}</span>
            </a>
            {% endfor %}
        </div>
    </div>
    </div>
    </div>
</section>

<section>
    <div class="container">
        <h2>About</h2>
        <div class="text-center">
            <p class="text-center">This is an <strong>open source</strong> project. All pull requests are welcome!</p>
            <a class="btn btn-default" href="https://github.com/rmhdev/Image-Faker">View on GitHub</a>
        </div>
    </div>
</section>
{% endblock %}
