{% extends 'layout.twig' %}

{% import 'includes/faker.twig' as faker %}

{% form_theme form 'bootstrap_3_layout.html.twig' %}

{% set paramsBasic = { background: "6d3353", size: "300x150", extension: "png" } %}
{#
{% set paramsWidthHeight = {size: "300x150", extension: "png"} %}
{% set paramsWidth = {size: "300", extension: "png"} %}
{% set paramsExtension = {size: "300", extension: "jpg"} %}
{% set paramsBackground = {background: "6d3353", size: "300x150", extension: "png"} %}
{% set paramsFont = {background: "555555", color: "ffff00", size: "300x150", extension: "png"} %}
{% set paramsNtsc = {size: "ntsc", extension: "jpg"} %}
#}
{% block content %}

<header>
    <h1 class="header-title">Create custom images</h1>
    <p class="lead">Image Faker achieves this by <span class="motto-second">using simple urls</span></p>
</header>

<form action="{{ path('homepage') }}" method="post" class="form">
    <fieldset>
        <legend class="sr-only">Create an image</legend>

        {{ form_widget(form._token) }}
        {% for message in app.session.getFlashBag.get('message') %}
        <div class="alert alert-danger">{{ message }}</div>
        {% endfor %}

        <div class="row">
            <div class="col-md-2 col-sm-3 col-xs-6">{{
                form_row(form.size, { 'attr': {'placeholder': '300x150', 'class': 'input-lg' }})
            }}</div>
            <div class="col-md-2 col-sm-2 col-xs-6">{{
                form_row(form.extension, { 'attr': { 'class': 'input-lg' }})
            }}</div>
            <div class="col-md-2 col-sm-2 col-xs-6">{{
                form_row(form.background, {
                    'attr': {
                        'placeholder': config.backgroundColor|trim("#"),
                        'maxlength': 6,
                        'class': 'input-lg'
                    },
                    'required': false
                })
            }}</div>
            <div class="col-md-2 col-sm-2 col-xs-6">{{
                form_row(form.color, {
                    'attr': {
                        'placeholder': config.fontColor|trim("#"),
                        'maxlength': 6,
                        'class': 'input-lg'
                    },
                    'label': 'Font color',
                    'required': false
                })
            }}</div>
            <div class="col-md-4 col-sm-3 col-xs-12">
                <button type="submit" class="btn btn-success btn-block btn-lg faker-btn-submit">create</button>
            </div>
        </div>
    </fieldset>
</form>

<section>
    <header class=""><h2>Example</h2></header>

    <div class="row">
        <div class="col-md-offset-2 col-md-4 col-sm-12">
            <a href="{{ url("background", paramsBasic) }}">
                <img class="img-responsive center-block thumbnail" src="{{ url("background", paramsBasic) }}">
            </a>
        </div>
        <div class="col-md-4 col-sm-12">
            <div class="panel panel-default">
                <ul class="list-group">
                    <li class="list-group-item">Size
                        <span class="pull-right rmh-size">{{ paramsBasic.size }}</span>
                    </li>
                    <li class="list-group-item">Extension
                        <span class="pull-right rmh-size">{{ paramsBasic.extension }}</span>
                    </li>
                    <li class="list-group-item">Background color
                        <span class="pull-right rmh-size">{{ paramsBasic.background }}</span>
                    </li>
                    <li class="list-group-item">Font color
                        <span class="pull-right rmh-size text-muted">[empty]</span>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</section>

<section class="row">
    <h2>FAQ</h2>
    <div class="col-md-6 col-md-offset-3 col-sm-8 col-sm-offset-2">
    <div class="panel panel-default rmh-panel">
        <header class="panel-heading">Custom values</header>

        <ul class="list-group">
            <li class="list-group-item">Max size
                <span class="pull-right rmh-size">{{ config.size.maxWidth ~ "x" ~ config.size.maxHeight }}</span>
            </li>
        </ul>
        <div class="panel-heading">Available sizes</div>
        <ul class="list-group">
            {% for name, size in sizes %}
            <li class="list-group-item">{{ name }}
                <span class="pull-right rmh-size">{{ size }}</span>
            </li>
            {% endfor %}
        </ul>
    </div>
    </div>
</section>
{% endblock %}
